In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df

,SYMBOL,SERIES,DATE1,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,TURNOVER_LACS,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,20MICRONS,EQ,10-Jul-2020,32.00,31.85,34.50,31.50,32.40,32.30,32.49,37441,12.17,404,20362,54.38
1,21STCENMGM,EQ,10-Jul-2020,11.10,11.10,11.10,10.90,10.90,10.90,10.95,136,0.01,4,136,100
2,3IINFOTECH,EQ,10-Jul-2020,2.75,2.70,2.75,2.65,2.65,2.65,2.67,3163425,84.32,1537,2365893,74.79
3,3MINDIA,EQ,10-Jul-2020,19498.95,19301.00,19599.00,19301.00,19501.00,19504.05,19482.85,2646,515.52,1594,1748,66.06
4,509GS2022,GS,10-Jul-2020,103.95,99.00,104.00,99.00,99.00,99.00,100.25,4,0.00,4,3,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1927,ZODJRDMKJ,EQ,10-Jul-2020,35.70,37.45,39.25,36.00,39.25,39.20,38.39,128109,49.18,1086,42612,33.26
1928,ZOTA,EQ,10-Jul-2020,143.65,144.30,144.90,142.20,142.65,143.40,143.65,3700,5.31,76,2714,73.35
1929,ZUARI,EQ,10-Jul-2020,99.45,99.20,101.25,99.00,100.00,99.55,99.87,12928,12.91,446,7216,55.82
1930,ZUARIGLOB,EQ,10-Jul-2020,55.60,54.70,56.00,54.20,54.30,54.45,54.97,13715,7.54,248,10509,76.62
1931,ZYDUSWELL,EQ,10-Jul-2020,1381.65,1374.00,1379.60,1356.00,1360.00,1364.80,1366.76,19149,261.72,1779,8093,42.26

In [4]:
df.head()

,SYMBOL,SERIES,DATE1,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,TURNOVER_LACS,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,20MICRONS,EQ,10-Jul-2020,32.00,31.85,34.50,31.50,32.40,32.30,32.49,37441,12.17,404,20362,54.38
1,21STCENMGM,EQ,10-Jul-2020,11.10,11.10,11.10,10.90,10.90,10.90,10.95,136,0.01,4,136,100
2,3IINFOTECH,EQ,10-Jul-2020,2.75,2.70,2.75,2.65,2.65,2.65,2.67,3163425,84.32,1537,2365893,74.79
3,3MINDIA,EQ,10-Jul-2020,19498.95,19301.00,19599.00,19301.00,19501.00,19504.05,19482.85,2646,515.52,1594,1748,66.06
4,509GS2022,GS,10-Jul-2020,103.95,99.00,104.00,99.00,99.00,99.00,100.25,4,0.00,4,3,75

In [5]:
df.shape

(1932, 15)

In [6]:
df.iloc[1:4,4:9]

   OPEN_PRICE  HIGH_PRICE  LOW_PRICE  LAST_PRICE  CLOSE_PRICE
1        11.1       11.10      10.90       10.90        10.90
2         2.7        2.75       2.65        2.65         2.65
3     19301.0    19599.00   19301.00    19501.00     19504.05

In [8]:
print(df['SYMBOL'].dtype)

object

In [9]:
print(df['PREV_CLOSE'].dtype)

float64

In [12]:
df['PREV_CLOSE']

0          32.00
1          11.10
2           2.75
3       19498.95
4         103.95
          ...
1927       35.70
1928      143.65
1929       99.45
1930       55.60
1931     1381.65
Name: PREV_CLOSE, Length: 1932, dtype: float64